@use 'config/reset';
@use 'config/variaveis.scss';

@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin grid-properties($columns, $col-gap: 1%, $row-gap: 4%) {
    display: grid;
    grid-template-columns: $columns;
    column-gap: $col-gap;
    row-gap: $row-gap;
    width: 100%;
}

body {
    background-color: variaveis.$cor-de-fundo-principal;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1023px) {
        max-width: 80%;
    }
}

header {
    background-color: variaveis.$cor-de-fundo-secundaria;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        @include flex-center;
        padding: 16px 0;
    }
}

.menu {
    @include flex-center;

    li {
        font-weight: bold;
        margin-left: 24px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

section {
    padding: 56px 0;
}

.products {
    margin-top: 40px;
    @include grid-properties(repeat(3, 32.66%));

    @media screen and (max-width: 1023px) {
        @include grid-properties(repeat(2, 48.5%), 3%);
    }

    @media screen and (max-width: 767px) {
        display: block;
    }

    .product-item {
        img {
            width: 100%;
            border-radius: 16px;
        }

        margin-bottom: 32px;
    }
}

.product-button {
    display: block;
    background-color: variaveis.$cor-do-botao;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: variaveis.$cor-do-botao-hover;
    }
}